* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html,
body {
  background: linear-gradient(120deg, #17bebb, #f0a6ca);
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.container h1 {
  margin: 0.5em auto;
  color: #fff;
  text-align: center;
}

.chatbox {
  background: rgba(255, 255, 255, 0.05);
  width: 100%;
  height: 100%;
  border-radius: 0.2em;
  position: relative;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}

.chatbox__messages:nth-of-type(odd)
  .chatbox__messages__user-message--ind-message {
  float: right;
}

.chatbox__messages:nth-of-type(even)
  .chatbox__messages__user-message--ind-message {
  float: left;
}

.chatbox__messages__user-message {
  width: 100%;
}
.chatbox__messages__user-message--ind-message {
  background: rgba(255, 255, 255, 0.2);
  padding: 1em 0;
  height: auto;
  width: 65%;
  border-radius: 5px;
  margin: 0.5em 1em;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.chatbox__messages__user-message--ind-message > p.name {
  font-weight: bold;
}

.chatbox__messages__user-message--ind-message > p.message,
.chatbox__messages__user-message--ind-message > p.name,
.chatbox__messages__user-message--ind-message > p.date {
  color: #fff;
  font-size: 0.7em;
  margin: 0.2em 2.8em;
}

.chatbox__user-list {
  background: rgba(255, 255, 255, 0.1);
  width: 25%;
  height: 100%;
  float: right;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}

.chatbox__user {
  display: flex;
  align-items: center;
  margin: 1em 0em;
}

h1 {
  background: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.9);
  font-size: 1em;
  padding: 1em;
  margin: 0;
  font-weight: 500;
  text-align: center;
}

.chatbox__user--active--bullet {
  width: 0.5em;
  height: 0.5em;
  border-radius: 100%;
}

.chatbox__user--active--bullet {
  background: rgba(23, 190, 187, 0.8);
}

.chatbox p {
  float: left;
  text-align: left;
  margin: -0.25em 2em;
  font-size: 0.7em;
  font-weight: 300;
  color: #fff;
}

.chatbox form {
  background: #222;
}

.chatbox form input {
  background: rgba(255, 255, 255, 0.05);
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  width: 75%;
  padding: 1.2em;
  outline: none;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

:-moz-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.9);
}

.notifications {
  position: absolute;
  top: 0px;
  width: 100%;
}

.notification__danger {
  margin: 15px auto;
  display: block;
  background: black;
  width: 500px;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  background-color: rgba(23, 190, 187, 1);
  padding: 8px 16px;
  border-radius: 8px;
  color: white;
  font-size: 12px;
}
